<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598499004389-2rkkv590j65i4rnveha4jh6bnb9pir4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598499004389-2rkkv590j65i4rnveha4jh6bnb9pir4l</string>
	<key>API_KEY</key>
	<string>AIzaSyCky6X-Z9-83AFvxqtwWndm9Wk3TPbjwzc</string>
	<key>GCM_SENDER_ID</key>
	<string>598499004389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeekend</string>
	<key>PROJECT_ID</key>
	<string>winners2-5055a</string>
	<key>STORAGE_BUCKET</key>
	<string>winners2-5055a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598499004389:ios:e07cb7111a0e334af5690c</string>
</dict>
</plist>